:root {
  --component-padding: 15px;
}

.task-dialog {
  .dialog-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--overlay-color);
    z-index: 3;
    width: 100%;
  }

  .dialog-container {
    position: absolute;
    border-radius: var(--component-padding);
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    background-color: var(--background);
    width: 60%;
    padding: calc(1.5*var(--component-padding));
    min-height: 300px;
    max-height: 600px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .dialog-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-self: flex-start;
      width: 100%;
      margin-bottom: var(--component-padding);

      .dialog-header-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-self: flex-start;
        flex: 1;

        .dhc-icon {
          color: #fff;
          background-color: var(--main-green);
          width: 25px;
          height: 25px;
          padding: 3px;
          margin-right: 15px;
          border-radius: 5px;
        }

        .dhc-title {
          font-size: 20px;
          font-weight: 600;
          color: var(--main-green);
          max-width: 90%;
          line-break: auto;
        }
      }

      .close-dialog-btn {
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 25px;
        background-color: transparent;
        transition: all ease 0.3s;

        &:hover {
          cursor: pointer;
          color: #000;
          background-color: var(--btn-hovered-background);
        }
      }
    }

    .input-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      position: relative;

      .search-user-container {
        display: block;
        width: 100%;
        position: relative;

        .searched-users-container {
          display: block;
          width: 100%;
          height: auto;
          max-height: 320px;
          overflow-y: auto;
          position: absolute;
          background-color: var(--background);
          top: 100%;
          left: 0;
          margin-top: 5px;
          padding: 10px;
          box-shadow: var(--instruct-box-shadow);
          border: 1px solid var(--focusing-fieldset-color);
          border-radius: 5px;
          z-index: 3;

          .searched-users {
            display: block;
            width: 100%;
          }
        }
      }

      .added-user {
        width: 100%;
        padding: 8px 10px;

        tbody {
          width: 100%;
        }

        .direction-tag {
          color: var(--main-text-grey);
        }

        .added-user-tag {
          display: block;
          position: relative;
          margin-bottom: 5px;

          .aut-main-tag {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-self: flex-start;
            padding: 2px 8px;
            border-radius: 20px;

            &:hover {
              cursor: auto;
            }

            .aut-mt-email {
              flex: 1;
            }

            .aut-mt-close-icon {
              height: 20px;
              width: 20px;
              padding: 2px;
              border-radius: 10px;
              transition: all;
              color: #000;

              &:hover {
                cursor: pointer;
                background-color: var(--btn-hovered-background);
              }
            }
          }

          .aut-main-tag-role-admin {
            .aut-mt-email {
              color: var(--role-admin-bg);
            }

            border: 1px solid var(--role-admin-bg);
            background-color: var(--role-admin-border);
          }

          .aut-main-tag-role-pm {
            .aut-mt-email {
              color: var(--role-pm-bg);
            }

            border: 1px solid var(--role-pm-bg);
            background-color: var(--role-pm-border);
          }

          .aut-main-tag-role-lead {
            .aut-mt-email {
              color: var(--role-lead-bg);
            }

            border: 1px solid var(--role-lead-bg);
            background-color: var(--role-lead-border);
          }

          .aut-main-tag-role-emp {
            .aut-mt-email {
              color: var(--role-emp-bg);
            }

            border: 1px solid var(--role-emp-bg);
            background-color: var(--role-emp-border);
          }

          .aut-full-info {
            position: absolute;
            z-index: 2;
            width: 100%;

            .user-short-info {
              padding: 5px;
              margin-bottom: 5px;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-self: flex-start;
              width: 100%;
              transition: all ease 0.3s;
              border-radius: 10px;
              position: absolute;
              top: 100%;
              left: 0;
              z-index: 2;
              box-shadow: var(--instruct-box-shadow);
              background-color: var(--background);
              border: 1px solid var(--border-color);
            }
          }
        }
      }
    }

    .update-btn-container {
      width: 100%;
      margin-top: 10px;

      .update-content-btn {
        width: 100%;
        padding: 15px 0;
        border-radius: 10px;
        color: #fff;
        background-color: var(--main-green);
        transition: background-color ease 0.3s;
        cursor: pointer;

        &:hover {
          background-color: var(--main-hovered-green);
        }
      }
    }
  }

}