.task-info-form {
  padding: calc(1.5*var(--component-padding));
  background-color: var(--background);
  border-radius: var(--component-padding);


  .task-info-form-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .form-group-container {
    position: relative;
  }

  .undo-btn-container,
  .open-dialog-container {
    position: absolute;
    width: 100%;
    top: 10px;
    right: var(--component-padding);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }

  .undo-btn,
  .odc-groups-btn,
  .odc-users-rec-btn {
    display: block;
    width: auto;
    background-color: var(--background);
    color: var(--blue-in-env);
  }

  .odc-groups-btn,
  .odc-users-rec-btn {
    z-index: 3;
  }
  
  .undo-btn {
    z-index: 1;
  }

  .undo-btn,
  .odc-groups-btn {
    background-color: var(--focusing-fieldset-color);
    color: #fff;
    padding: 1px 5px;
    border-radius: 5px;
    transition: all ease 0.2s;
  }

  .odc-users-rec-btn {
    margin-right: var(--component-padding);
  }

  .odc-users-rec-btn:hover{
    cursor: pointer;
  }

  .odc-groups-btn:hover,
  .undo-btn:hover {
    cursor: pointer;
    color: #000;
    background-color: var(--btn-hovered-background);
  }

  .search-user-container {
    position: relative;
    width: 100%;
    z-index: 2;

    .form-group {
      width: 100%;
      z-index: 2;

      .searched-users-container {
        display: block;
        width: 100%;
        height: auto;
        max-height: 320px;
        overflow-y: auto;
        position: absolute;
        background-color: var(--background);
        top: 100%;
        left: 0;
        margin-top: 5px;
        padding: 10px;
        box-shadow: var(--instruct-box-shadow);
        border: 1px solid var(--focusing-fieldset-color);
        border-radius: 5px;
        z-index: 2;

        .searched-users {
          display: block;
          width: 100%;
        }
      }
    }
  }

  .assign-for-container {
    .assigned-users {
      width: 100%;
      padding: 8px 10px;

      tbody {
        width: 100%;
      }

      .direction-tag {
        color: var(--main-text-grey);
      }

      .assigned-user-tag {
        display: block;
        position: relative;
        margin-bottom: 5px;

        .aut-main-tag {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-self: flex-start;
          padding: 2px 8px;
          border-radius: 20px;

          &:hover {
            cursor: auto;
          }

          .aut-mt-email {
            flex: 1;
          }

          .aut-mt-close-icon {
            height: 20px;
            width: 20px;
            padding: 2px;
            border-radius: 10px;
            transition: all;
            color: #000;

            &:hover {
              cursor: pointer;
              background-color: var(--btn-hovered-background);
            }
          }
        }

        .aut-main-tag-role-admin {
          .aut-mt-email {
            color: var(--role-admin-bg);
          }

          border: 1px solid var(--role-admin-bg);
          background-color: var(--role-admin-border);
        }

        .aut-main-tag-role-pm {
          .aut-mt-email {
            color: var(--role-pm-bg);
          }

          border: 1px solid var(--role-pm-bg);
          background-color: var(--role-pm-border);
        }

        .aut-main-tag-role-lead {
          .aut-mt-email {
            color: var(--role-lead-bg);
          }

          border: 1px solid var(--role-lead-bg);
          background-color: var(--role-lead-border);
        }

        .aut-main-tag-role-emp {
          .aut-mt-email {
            color: var(--role-emp-bg);
          }

          border: 1px solid var(--role-emp-bg);
          background-color: var(--role-emp-border);
        }

        .aut-full-info {
          position: absolute;
          z-index: 2;
          width: 100%;

          .user-short-info {
            padding: 5px;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-self: flex-start;
            width: 100%;
            transition: all ease 0.2s;
            border-radius: 10px;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 2;
            box-shadow: var(--instruct-box-shadow);
            background-color: var(--background);
            border: 1px solid var(--border-color);
          }
        }
      }
    }
  }

  .desc-container {
    .desc-textarea {
      height: 250px;
    }

    .form-group {
      border: none !important;
    }
  }

  .task-level-label {
    display: flex;
    flex-wrap: wrap;
  }
}