.task-info-form {
  padding: calc(1.5*var(--component-padding));
  background-color: var(--background);
  border-radius: var(--component-padding);

  
  .task-info-form-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .undo-btn-container,
  .open-groups-dialog-container {
    position: relative;
    width: 100%;
  }

  .undo-btn,
  .ogd-btn {
    position: absolute;
    top: 10px;
    right: var(--component-padding);
    display: block;
    width: auto;
    background-color: var(--background);
    color: var(--focusing-fieldset-color);
    z-index: 3;
  }

  .undo-btn {
    background-color: var(--focusing-fieldset-color);
    color: #fff;
    padding: 1px 5px;
    border-radius: 5px;
    transition: all ease 0.3s;
    z-index: 1;
  }

  .not-undo-btn {
    cursor: not-allowed !important;
    background-color: var(--btn-hovered-background);
  }

  .ogd-btn:hover {
    cursor: pointer;
  }

  .undo-btn:hover {
    cursor: pointer;
    color: #000;
    background-color: var(--btn-hovered-background);
  }

  .form-caption {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-start;
    align-items: center;
    margin-top: var(--component-padding);
    margin-bottom: calc(1.5*var(--component-padding));

    .caption-icon {
      color: #fff;
      background-color: var(--main-green);
      width: 40px;
      height: 40px;
      padding: 5px;
      margin-right: var(--component-padding);
      border-radius: 10px;
    }

    .caption-content {
      font-size: var(--page-name-size);
      color: var(--main-green);
      font-weight: 600;
      flex: 1;
    }

    .desc-content {
      display: block;
      width: 100%;
      font-size: 16px;
      margin-left: 55px;
      color: var(--main-text-grey);
    }
  }

  .search-user-container {
    position: relative;
    width: 100%;
    z-index: 2;

    .form-group {
      width: 100%;

      .searched-users-container {
        display: block;
        width: 100%;
        height: auto;
        max-height: 320px;
        overflow-y: auto;
        position: absolute;
        background-color: var(--background);
        top: 100%;
        left: 0;
        margin-top: 5px;
        padding: 10px;
        box-shadow: var(--instruct-box-shadow);
        border: 1px solid var(--focusing-fieldset-color);
        border-radius: 5px;

        .searched-users {
          display: block;
          width: 100%;
        }
      }
    }
  }

  .assign-for-container {
    .assigned-users {
      width: 100%;
      padding: 8px 10px;

      tbody {
        width: 100%;
      }

      .direction-tag {
        color: var(--main-text-grey);
      }

      .assigned-user-tag {
        display: block;
        position: relative;
        margin-bottom: 5px;

        .aut-main-tag {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-self: flex-start;
          padding: 2px 8px;
          border-radius: 20px;

          &:hover {
            cursor: auto;
          }

          .aut-mt-username {
            flex: 1;
          }

          .aut-mt-close-icon {
            height: 20px;
            width: 20px;
            padding: 2px;
            border-radius: 10px;
            transition: all;
            color: #000;

            &:hover {
              cursor: pointer;
              background-color: var(--btn-hovered-background);
            }
          }
        }

        .aut-main-tag-role-admin {
          .aut-mt-username {
            color: var(--role-admin-bg);
          }

          border: 1px solid var(--role-admin-bg);
          background-color: var(--role-admin-border);
        }

        .aut-main-tag-role-pm {
          .aut-mt-username {
            color: var(--role-pm-bg);
          }

          border: 1px solid var(--role-pm-bg);
          background-color: var(--role-pm-border);
        }

        .aut-main-tag-role-lead {
          .aut-mt-username {
            color: var(--role-lead-bg);
          }

          border: 1px solid var(--role-lead-bg);
          background-color: var(--role-lead-border);
        }

        .aut-main-tag-role-emp {
          .aut-mt-username {
            color: var(--role-emp-bg);
          }

          border: 1px solid var(--role-emp-bg);
          background-color: var(--role-emp-border);
        }

        .aut-user-short-info {
          padding: 5px;
          margin-bottom: 5px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-self: flex-start;
          width: 100%;
          transition: all ease 0.3s;
          border-radius: 10px;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 2;
          box-shadow: var(--instruct-box-shadow);
          background-color: var(--background);
          border: 1px solid var(--border-color);
        }
      }
    }
  }

  .desc-container {
    .form-group {
      border: none !important;

      .desc-textarea {
        width: 100%;
        height: 250px;
        overflow-y: auto;
        color: var(--foreground) !important;
        border: 2px solid var(--main-component-grey);
        border-radius: 5px;
        padding: 5px;
        background-color: var(--background);
        padding: 10px;
        font-size: 16px;
        border: 2px solid var(--main-component-grey);
        &::placeholder {
          font-style: italic;
        }
      }
    }
  }
}


.user-short-info {
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-self: flex-start;
  width: 100%;
  transition: all ease 0.3s;
  border-radius: 10px;

  &:hover {
    background-color: var(--btn-hovered-background);
    cursor: pointer;

    .usi-ava,
    .usi-full-name,
    .usi-username {
      color: var(--foreground);
    }
  }
}

.user-short-info-selected {
  background-color: var(--btn-hovered-background);

  .usi-ava,
  .usi-full-name,
  .usi-username {
    color: var(--foreground);
  }
}

.usi-ava,
.usi-full-name,
.usi-username,
.usi-role {
  display: block;
  margin-right: var(--margin-cell);
}

.usi-ava {
  display: block;
  line-height: var(--virtual-ava-size);
  width: var(--virtual-ava-size);
  text-align: center;
  border-radius: 15px;
  font-size: 14px;
}

.usi-full-name,
.usi-username {
  word-break: break-word;
  overflow-wrap: break-word;
}

.usi-full-name {
  min-width: 20%;
  max-width: 40%;
  width: auto;
  margin-left: 10px;
  color: var(--main-text-grey);
}

.usi-username {
  flex: 1;
  color: var(--main-text-grey);
}

.usi-role {
  width: var(--role-cell-width);
  font-size: 13px !important;
  padding: 2px 5px;
  text-align: center;
  border-radius: 10px;
}

.usi-role-admin {
  color: var(--role-admin-border) !important;
  background-color: var(--role-admin-bg);
}

.usi-role-pm {
  color: var(--role-pm-border) !important;
  background-color: var(--role-pm-bg);
}

.usi-role-lead {
  color: var(--role-lead-border) !important;
  background-color: var(--role-lead-bg);
}

.usi-role-emp {
  color: var(--role-emp-border) !important;
  background-color: var(--role-emp-bg);
}