:root {
  --component-padding: 15px;
}

.project-overview {
  padding: calc(1.5*var(--component-padding));
  background-color: var(--background);
  border-radius: var(--component-padding);
  padding: 15px;
  margin: 15px;
  margin-bottom: 0;
  border-radius: 15px;

  .form-caption {    
    .caption-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-self: flex-start;
    }
  }

  .project-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .project-info-right,
    .project-info-left {
      width: 50%;
      min-width: fit-content;
    }

    .project-header {
      width: 100%;
      border: 1px solid var(--main-green);
      padding-left: 0 !important;
      background: linear-gradient(110deg,
          var(--background) 0%,
          #5ac8a1 70%,
          var(--background) 100%);
      padding: var(--component-padding) !important;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;

      .project-name,
      .project-more-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: fit-content;
        padding: 15px;
      }

      .project-name {
        flex: 1;
      }

      .project-name-icon {
        color: #fff;
        background-color: var(--main-green);
        width: 25px;
        height: 25px;
        padding: 3px;
        margin-right: 15px;
        border-radius: 5px;
      }

      .project-info-value {
        font-size: 20px;
        font-weight: 600;
        color: var(--main-green);
        max-width: 90%;
        line-break: auto;
      }

      .update-info-btn,
      .description-btn,
      .report-format-btn {
        padding: 10px 20px;
        border-radius: 6px;
        margin-left: 10px;
        transition: background-color ease 0.3s;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .project-header-icon {
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }

      .description-btn {
        background-color: var(--main-green);
        color: #fff;

        &:hover {
          background-color: var(--main-hovered-green);
          cursor: pointer;
        }
      }

      .project-header-create-btn {
        width: auto;
      }
    }

    .project-info-item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-left: 55px;
      padding-top: var(--component-padding);

      .project-info-label {
        width: 150px;
        display: flex;
        color: var(--main-text-grey);
      }
    }

    .project-type {
      background-color: var(--focusing-fieldset-color);
      color: #fff;
    }

    .project-date {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;

      .project-date-content {
        margin-right: 5px;
      }
    }

    .project-status {
      .ps-icon {
        font-size: 13px;
        padding: 2px 4px;
        border-radius: 5px;
        color: #fff;
      }

      .ps-in-progress {
        background-color: var(--blue-in-env);
      }

      .ps-completed,
      .ps-created {
        background-color: var(--main-green);
      }

      .ps-paused,
      .ps-closed {
        border: 1px solid #000;
        background-color: var(--main-component-grey);
        color: #000;
      }
    }
  }

  .project-id {
    background-color: var(--main-green);
    color: #fff;
  }

  .project-id {
    margin-left: 10px;
  }

  .btn-block {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    .general-btn {
      width: 32%;
      padding: 15px;
      border-radius: 15px;
      transition: all ease 0.2s;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      margin-top: 15px;

      .cb-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }

    .complete-btn {
      border: 2px solid var(--foreground);
      background-color: var(--foreground);
      color: var(--background);

      &:hover {
        cursor: pointer;
        color: var(--foreground);
        background-color: var(--background);
      }
    }

    .start-btn {
      border: 2px solid var(--main-green);
      background-color: var(--main-green);
      color: #fff;

      &:hover {
        cursor: pointer;
        color: var(--main-green);
        background-color: var(--background);
      }
    }

    .in-progress-btn {
      border: 2px solid var(--focusing-fieldset-color);
      background-color: var(--focusing-fieldset-color);
      color: #fff;

      &:hover {
        cursor: pointer;
        color: var(--focusing-fieldset-color);
        background-color: var(--background);
      }
    }

    .pause-btn {
      border: 2px solid orange;
      background-color: orange;
      color: #000;

      &:hover {
        cursor: pointer;
        color: orange;
        background-color: var(--background);
      }
    }
    
    .close-btn {
      border: 2px solid var(--main-text-err-red);
      background-color: var(--main-text-err-red);
      color: #fff;

      &:hover {
        cursor: pointer;
        color: var(--main-text-err-red);
        background-color: var(--background);
      }
    }

    .btn-disabled {
      background-color: var(--main-component-grey) !important;
      color: #000 !important;
      cursor: not-allowed !important;
    }
  }
}