.home-detail {
  padding: 16px;
  background: var(--under-background);
  height: fit-content;

  .home-container {
    background: var(--background);
    border-radius: 16px;
    box-shadow: 0 2px 8px #0001;
    padding: 24px;
  }

  .main-content {
    background: var(--background);
    border-radius: 16px;
    box-shadow: 0 2px 8px #0001;
    padding: 24px;
  }

  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .dashboard-info {
      display: flex;
      flex-direction: column;
      gap: 8px;

        .dashboard-title {
         font-weight: 700;
         font-size: 36px;
         letter-spacing: -1px;
       }

       .dashboard-description {
         color: var(--background);
         font-size: 18px;
         font-weight: 400;
       }
    }

    .dashboard-actions {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-top: 8px;
    }
  }

  .stats-container {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
  }

  .content-grid {
    display: flex;
    gap: 12px;
    align-items: flex-start;
  }
} 