.project-actions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 18px;

  .project-actions-add-leader-btn {
    background: var(--blue-in-env);
    color: #fff;
    border: 1px solid var(--blue-in-env);
    border-radius: 8px;
    padding: 8px 18px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;

    &:hover {
      background-color: var(--blue-in-env-bg);
      color: var(--blue-in-env);
    }

    &--disabled {
      background: #ccc;
      border-color: #ccc;
      cursor: not-allowed;
    }
  }

  .project-actions-complete-btn {
    background: #d97706;
    color: #fff;
    border: 1.5px solid #d97706;
    border-radius: 8px;
    padding: 8px 18px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;

    &:hover {
      background-color: #ffe1be;
      color: #d97706;
    }

    &--disabled {
      background: #ccc;
      border-color: #ccc;
      cursor: not-allowed;
      opacity: 0.6;
    }

    &--loading {
      cursor: wait;
      opacity: 0.7;
    }

    &--completed {
      background: #22c55e;
      border-color: #22c55e;
      cursor: not-allowed;
    }

    &--early {
      background: #22c55e;
      border-color: #22c55e;
      color: #fff;
    }

    &--late {
      background: #ef4444;
      border-color: #ef4444;
      color: #fff;
    }
  }
} 