.main-groups-dialog {
  .dialog-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--overlay-color);
    z-index: 3;
  }

  .groups-container {
    position: absolute;
    border-radius: var(--component-padding);
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    background-color: var(--background);
    width: 60%;
    padding: calc(1.5*var(--component-padding));
    min-height: 300px;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .groups-container-header {
      width: 100%;
      background-color: var(--background);

      .gch-title {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;

        .gch-title-wrapper {
          flex: 1;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;

          .gch-title-icon {
            width: 40px;
            height: 40px;
            padding: 5px;
            background-color: var(--main-green);
            color: #fff;
            border-radius: 10px;
            margin-right: var(--component-padding);
          }

          .gch-title-text {
            flex: 1;
            display: block;
            color: var(--main-green);
            font-size: var(--page-name-size);
            font-weight: 600;
          }
        }

        .close-btn-wrapper {
          .close-btn-icon {
            width: 40px;
            height: 40px;
            padding: 5px;
            border-radius: 25px;
            background-color: transparent;
            transition: all ease 0.3s;

            &:hover {
              background-color: var(--btn-hovered-background);
              cursor: pointer;
            }
          }
        }
      }
    }

    .groups-container-desc {
      display: block;
      width: 100%;
      margin-bottom: calc(1.5*var(--component-padding));

      .gch-desc-text {
        display: block;
        width: 100%;
        font-size: 16px;
        margin-left: 55px;
        color: var(--main-text-grey);
      }
    }

    .groups-container-body {
      width: 100%;

      .gcb-group-line {
        background-color: var(--background);
        border: 1px solid var(--border-color);

        &:hover {
          background-color: var(--btn-hovered-background);
        }

        .usi-ava {
          margin-right: var(--component-padding);
        }
      }
    }
  }
}



.gcb-admin {
  color: var(--role-lead-border) !important;
  background-color: var(--role-lead-bg);
}

.gcb-member {
  color: var(--role-emp-border) !important;
  background-color: var(--role-emp-bg);
}