.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .project-header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .project-header-title {
      display: flex;
      align-items: center;
      gap: 8px;

      .project-header-text {
        font-weight: 700;
        font-size: 32px;
        color: var(--main-green);
      }
    }

    .project-header-subtitle {
      color: #64748b;
      font-size: 16px;
      margin-bottom: 24px;
      margin-top: 2px;
      font-style: italic;
      margin-left: 40px;
    }
  }

  .project-header-create-btn {
    background: #166534;
    color: #fff;
    border: none;
    border-radius: 999px;
    padding: 12px 32px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 8px #0001;
    cursor: pointer;
    margin-right: 189px;

    .project-header-create-icon {
      color: #fff;
      font-size: 22px;
      font-weight: 700;
      margin-right: 4px;
    }
  }
} 