.collection-detail-container {
  background: var(--under-background);
  margin: 15px;
  min-height: 100vh !important;

  .collection-detail-content {
    background: var(--background);
    border-radius: 15px;
    padding: 15px;
  }
} 