.report-creation {
  display: flex;
  flex-wrap: wrap;

  .desc-container {
    .desc-textarea {
      height: 250px;
    }

    .form-group {
      border: none !important;
    }
  }
}

.form-group-container {
  position: relative;

  .report-gen-container {
    position: absolute;
    width: 100%;
    top: 25px;
    right: var(--component-padding);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

    .report-gen-btn {
      display: block;
      width: auto;
      background-color: var(--background);
      color: var(--blue-in-env);
      z-index: 3;

      &:hover{
        cursor: pointer;
      }
    }
  }
}

.report-btns-overlay {
  background-color: var(--overlay-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
}

.btns-block {
  position: absolute;
  top: 0;
  z-index: 4;
  background-color: var(--background);
  padding: 25px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .btns-title {
    font-size: 26px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 600;
    color: var(--main-green);
    margin-bottom: 20px;

    .btns-icon {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  .btn-container {
    margin-top: 10px;

    button {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      font-size: 16px;
      border-radius: 10px;
      cursor: pointer;
      transition: all ease 0.3s;
      width: 100%;
      align-items: center;
      justify-content: center;

      .btn-icon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }

    .complete-report-btn {
      background-color: var(--main-green);
      color: var(--background);
      border: 1px solid var(--main-green);

      &:hover {
        background-color: var(--background);
        color: var(--main-green);
      }
    }

    .processing-report-btn {
      background-color: var(--blue-in-env);
      color: var(--background);
      border: 1px solid var(--blue-in-env);

      &:hover {
        background-color: var(--background);
        color: var(--blue-in-env);
      }
    }

    .daily-report-btn {
      background-color: var(--foreground);
      color: var(--background);
      border: 1px solid var(--foreground);

      &:hover {
        background-color: var(--background);
        color: var(--foreground);
      }
    }
  }
}