.form-caption {
  margin-bottom: 10px;
}

.phase-detail-container {
  min-height: 100vh !important;
  background: var(--under-background) !important;
  font-family: 'Inter', sans-serif !important;
}

.phase-detail-content {
  background: var(--background) !important;
  border-radius: 18px !important;
  box-shadow: 0 2px 16px #0001 !important;
  padding: 15px;
  margin: 15px;
}

.phase-detail-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 24px !important;
}