:root {
  --background: #ffffff;
  --under-background: #d9d9d9;
  --foreground: #0a0a0a;
  --btn-hovered-background: #cbcbcb;
  --border-color: #888;
  --shadow-color: rgba(82, 82, 82, 0.4);
  --reactangle-radius: 10px;
  --page-name-size: 28px;
  --page-description-size: 15px;
  --logo-color: #1f6b49;
  --main-green: #1f6b49;
  --main-green-bg: #89ceaf;
  --main-hovered-green: #2b8f64;
  --main-dark-red: #971717;
  --main-red-bg: #ffd1cc;
  --yellow-under-main-green: #d4f96b;
  --blue-in-env: #5050ff;
  --blue-in-env-bg: #acacee;
  --green-in-env: #38a218;
  --instruct-box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
  --main-component-grey: #c1c4c9;
  --main-text-grey: #666666;
  --focusing-fieldset-color: rgb(50, 50, 255);
  --red-in-env: #ff2020;
  --main-text-err-red: #ff2020;
  --red-btn-hovered-bg: #971717;
  --large-component-padding: 10px;
  --overlay-color: rgba(0, 0, 0, 0.3);
  --virtual-ava-size: 25px;

  --role-admin-border: #fdecea;
  --role-admin-bg: #d32f2f;
  --role-pm-border: #e3f2fd;
  --role-pm-bg: #1976d2;
  --role-lead-border: #e8f5e9;
  --role-lead-bg: #388e3c;
  --role-emp-border: #eeeeee;
  --role-emp-bg: #000000;
  --level-high-text: #e0880d;
  --level-high-bg: #fff2e6;
}


body.dark {
  --logo-color: #238058;
  --main-green: #238058;
  --main-hovered-green: #39a476;
  --background: #1b1f23;
  --under-background: #2b2f33;
  --foreground: #eeeeee;
  --btn-hovered-background: #333;
  --main-component-grey: #555555;
  --main-text-grey: #aaaaaa;
  --focusing-fieldset-color: rgb(80, 80, 255);
  --main-text-err-red: #bc0505;
  --instruct-box-shadow: 0 4px 6px 2px rgba(255, 255, 255, 0.15);
  --overlay-color: rgba(0, 0, 0, 0.7);

  --role-admin-border: #340c0c;
  --role-admin-bg: #d51a1a;
  --role-pm-border: #80a6c5;
  --role-pm-bg: #1a237e;
  --role-lead-border: #7ea980;
  --role-lead-bg: #1b3b1b;
  --role-emp-border: #888888;
  --role-emp-bg: #2c2c2c;

  input[type=date] {
    color-scheme: dark;
  }
}

.un-done-tag {
  background-color: var(--role-admin-bg);
  color: var(--role-admin-border) !important;
}

.done-tag {
  background-color: var(--main-green);
  color: #fff !important;
}

.task-level-hard,
.task-priority-urgent {
  background-color: var(--role-admin-bg);
  color: var(--role-admin-border) !important;
}

.task-level-advanced,
.task-priority-high {
  background-color: var(--level-high-text);
  color: var(--level-high-bg) !important;
}

.task-level-normal,
.task-priority-normal {
  background-color: var(--focusing-fieldset-color);
  color: #fff !important;
}

.task-level-light,
.task-priority-low {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--foreground);
}

.late-date {
  color: var(--role-admin-bg) !important;
  font-weight: 600;
}

.task-time-content {
  background-color: var(--focusing-fieldset-color);
  color: #fff !important;
}

input[type=date] {
  color-scheme: light;
}