
.quick-tag {
  display: block;
  height: 18px;
  padding: 0 5px;
  border-radius: 4px;
  margin: 2px;
  font-size: 14px !important;
  color: #fff !important;
  background-color: var(--blue-in-env);
}

