
.quick-green-tag,
.quick-red-tag,
.quick-blue-tag {
  display: block;
  height: 18px;
  padding: 0 5px;
  border-radius: 4px;
  margin: 2px;
  font-size: 14px !important;
  margin-left: 5px;
}

.quick-blue-tag {
  color: #fff !important;
  background-color: var(--blue-in-env);
}
.quick-green-tag {
  color: #fff !important;
  background-color: var(--main-green);
}

.quick-red-tag {
  color: #fff !important;
  background-color: var(--red-in-env);
}