.user-short-info {
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-self: flex-start;
  width: 100%;
  transition: all ease 0.3s;
  border-radius: 10px;

  &:hover {
    background-color: var(--btn-hovered-background);
    cursor: pointer;

    .usi-ava,
    .usi-full-name,
    .usi-email {
      color: var(--foreground);
    }
  }


  .usi-ava,
  .usi-full-name,
  .usi-email,
  .usi-role {
    display: block;
    margin-right: var(--margin-cell);
  }

  .usi-ava {
    display: block;
    line-height: var(--virtual-ava-size);
    width: var(--virtual-ava-size);
    text-align: center;
    border-radius: 15px;
    font-size: 14px;
    line-height: var(--virtual-ava-size);
    width: var(--virtual-ava-size);
  }

  .usi-full-name,
  .usi-email {
    word-break: break-word;
    overflow-wrap: break-word;
  }

  .usi-full-name {
    min-width: 20%;
    max-width: 40%;
    width: auto;
    margin-left: 10px;
    color: var(--main-text-grey);
  }

  .usi-email {
    flex: 1;
    color: var(--main-text-grey);
  }

  .usi-dep {
    margin-right: 10px;
  }
}

.user-short-info-selected {
  background-color: var(--btn-hovered-background);

  .usi-ava,
  .usi-full-name,
  .usi-email {
    color: var(--foreground);
  }
}


.usi-role {
  width: fit-content;
  font-size: 13px !important;
  padding: 2px 8px;
  text-align: center;
  border-radius: 10px;
}

.usi-role-admin {
  color: var(--role-admin-border) !important;
  background-color: var(--role-admin-bg);
}

.usi-role-pm {
  color: var(--role-pm-border) !important;
  background-color: var(--role-pm-bg);
}

.usi-role-lead {
  color: var(--role-lead-border) !important;
  background-color: var(--role-lead-bg);
}

.usi-role-emp {
  color: var(--role-emp-border) !important;
  background-color: var(--role-emp-bg);
}