.disabled-btn {
  cursor: not-allowed !important;
  background-color: var(--btn-hovered-background) !important;
  color: #000 !important;
}

.hidden {
  display: none !important;
}

.loading-row {
  padding-top: 15px;
  padding-left: 5px;
  color: var(--main-text-grey);
  font-style: italic;
}

.re-add-user-btn,
.kick-user-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  transition: all ease 0.3s;
  border-radius: 4px;
  padding: 4px;
  width: 90px;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 12px!important;
  text-align: center;
  margin-left: var(--component-padding);
  height: -moz-fit-content;
  height: fit-content;

  .usgb-icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
}

.re-add-user-btn {
  border: 1px solid var(--blue-in-env);
  color: var(--blue-in-env) !important;

  &:hover {
    color: #fff !important;
    background-color: var(--blue-in-env);
    cursor: pointer;
  }
}

.kick-user-btn {
  border: 1px solid var(--main-text-err-red);
  color: var(--main-text-err-red) !important;

  &:hover {
    color: #fff !important;
    background-color: var(--main-text-err-red);
    cursor: pointer;
  }
}