

nextjs-portal {
  display: none !important;
}

html,
body {
  background-color: transparent;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* font-family: Roboto, Helvetica, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: block;

  .darkapp-layout,
  .app-layout {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    padding: var(--large-component-padding);
    color: var(--foreground);
    position: relative;

    .main-nav-bar {
      width: 210px;
      background-color: var(--under-background);
      margin-right: var(--large-component-padding);
      border-radius: 20px;
    }

    .web-container {
      flex: 1;
      height: 100%;
      background-color: var(--under-background);
      overflow-y: auto;
      overflow-x: auto;
      border-radius: 20px;
      min-width: 600px;
    }
  }
}

.app-layout h1,
.app-layout h2,
.app-layout h3,
.app-layout h4,
.app-layout h5,
.app-layout h6,
.app-layout a,
.app-layout p,
.app-layout u,
.app-layout i,
.app-layout b,
.app-layout span,
.app-layout li,
.app-layout input,
.app-layout option,
.app-layout button {
  font-size: 16px;
  color: var(--foreground);
}

.app-layout input,
.app-layout select,
.app-layout option {
  background-color: var(--under-background);
}

button {
  border: none;
  display: block;
}

ul,
li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--foreground) !important;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}