
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-text-grey);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-text-grey);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}
