:root {
  --padding-component: 15px;
}

.task-detail-container {
  padding: var(--padding-component);

}

.tag-data {
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 13px !important;
}

.button-fake-anchor {
  color: var(--focusing-fieldset-color) !important;
  font-style: italic;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
}

.task-level-hard,
.task-priority-urgent {
  background-color: var(--role-admin-bg);
  color: var(--role-admin-border) !important;
}

.task-level-advanced,
.task-priority-high {
  background-color: var(--level-high-text);
  color: var(--level-high-bg) !important;
}

.task-level-normal,
.task-priority-normal {
  background-color: var(--focusing-fieldset-color);
  color: #fff !important;
}

.task-level-light,
.task-priority-low {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--foreground);
}

.late-date {
  color: var(--role-admin-bg) !important;
  font-weight: 600;
}

.task-time-content {
  background-color: var(--focusing-fieldset-color);
  color: #fff !important;
}