
.table-group {
  .table-cell {
    &:nth-of-type(1) {
      width: 7%;
      justify-content: center;

      .virtual-ava {
        height: 35px;
        width: 35px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: var(--background);
        background: var(--foreground);
        border-radius: 17px;
      }
    }

    &:nth-of-type(2) {
      flex: 1;
    }

    &:nth-of-type(3) {
      width: 9%;
      justify-content: center;
    }

    &:nth-of-type(4) {
      width: 10%;
      flex-direction: column;
    }

    &:nth-of-type(5) {
      width: 9%;
    }

    &:nth-of-type(6) {
      width: 15%;
    }

    &:nth-of-type(7) {
      width: 6%;
    }

    &:nth-of-type(8) {
      width: 8%;
    }

    &:nth-of-type(9) {
      width: 5%;
    }

    &:nth-of-type(10) {
      width: 10%;
      justify-content: center;

      .user-status {
        position: relative;
        z-index: 1;
        width: 90%;
        height: 22px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: all ease 0.3s;
      }

      .status-true {
        background-color: var(--green-in-env);
      }

      .status-false {
        background-color: var(--main-text-err-red);
      }
    }
  }
}