:root {
  --background: #ffffff;
  --under-background: #d9d9d9;
  --foreground: #0a0a0a;
  --btn-hovered-background: #cbcbcb;
  --border-color: #888;
  --shadow-color: rgba(82, 82, 82, 0.4);
  --reactangle-radius: 10px;
  --page-name-size: 28px;
  --page-description-size: 15px;
  --logo-color: #1f6b49;
  --main-green: #1f6b49;
  --main-hovered-green-gradient: #2b8f64;
  --yellow-under-main-green: #d4f96b;
  --blue-in-env: #5050ff;
  --green-in-env: #38a218;
  --instruct-box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
  --main-component-grey: #c1c4c9;
  --main-text-grey: #666666;
  --focusing-fieldset-color: rgb(50, 50, 255);
  --main-text-err-red: #ff2020;
  --large-component-padding: 10px;
  --overlay-color: rgba(0, 0, 0, 0.3);

  --role-admin-border: #fdecea;
  --role-admin-bg: #d32f2f;
  --role-pm-border: #e3f2fd;
  --role-pm-bg: #1976d2;
  --role-lead-border: #e8f5e9;
  --role-lead-bg: #388e3c;
  --role-emp-border: #eeeeee;
  --role-emp-bg: #000000;
  --level-high-text: #e0880d;
  --level-high-bg: #fff2e6;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */

nextjs-portal {
  display: none !important;
}

html,
body {
  background-color: transparent;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  --logo-color: #238058;
  --main-green: #238058;
  --main-hovered-green-gradient: #39a476;
  --background: #1b1f23;
  --under-background: #2b2f33;
  --foreground: #eeeeee;
  --btn-hovered-background: #333;
  --main-component-grey: #555555;
  --main-text-grey: #aaaaaa;
  --focusing-fieldset-color: rgb(96, 157, 255);
  --main-text-err-red: #bc0505;
  --instruct-box-shadow: 0 4px 6px 2px rgba(255, 255, 255, 0.15);
  --overlay-color: rgba(0, 0, 0, 0.7);

  --role-admin-border: #340c0c;
  --role-admin-bg: #d51a1a;
  --role-pm-border: #80a6c5;
  --role-pm-bg: #1a237e;
  --role-lead-border: #7ea980;
  --role-lead-bg: #1b3b1b;
  --role-emp-border: #888888;
  --role-emp-bg: #2c2c2c;
}

body {
  display: block;

  .darkapp-layout,
  .app-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    padding: var(--large-component-padding);
    color: var(--foreground);
    overflow: hidden;

    .main-nav-bar {
      width: 210px;
      background-color: var(--under-background);
      margin-right: var(--large-component-padding);
      border-radius: 20px;
    }

    .web-container {
      flex: 1;
      height: 100%;
      background-color: var(--under-background);
      overflow-y: auto;
      border-radius: 20px;
    }
  }
}

.app-layout h1,
.app-layout h2,
.app-layout h3,
.app-layout h4,
.app-layout h5,
.app-layout h6,
.app-layout a,
.app-layout p,
.app-layout u,
.app-layout i,
.app-layout b,
.app-layout span,
.app-layout li,
.app-layout input,
.app-layout option,
.app-layout button {
  font-size: 16px;
  color: var(--foreground);
}

.app-layout input,
.app-layout select,
.app-layout option {
  background-color: var(--under-background);
}

button {
  border: none;
  display: block;
}

ul,
li {
  list-style-type: none;
}

.hidden {
  display: none !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* -------------------Form SECTION------------------- */
.form-wrapper-title {
  display: block;
  margin-bottom: 20px;

  h1 {
    color: #000;
    font-size: 32px;
    font-weight: 100;
  }

  p {
    color: var(--main-text-grey);
  }
}

.form-group-container {
  margin-bottom: 10px;
  width: 100%;

  .form-group {
    border: 2px solid var(--main-component-grey);
    border-radius: var(--reactangle-radius);
    transition: border-color 0.3s ease;
    background: var(--background);
    color: var(--foreground);

    .form-label {
      color: var(--main-text-grey);
      font-weight: 500;
      font-size: 16px;
      margin-left: 15px;
    }

    .form-input,
    .form-select {
      width: calc(100% - 2px*2);
      border: none;
      outline: none;
      font-size: 16px;
      color: var(--foreground);
      background: transparent;
      padding: 6px 10px 10px 10px;
      margin: 2px;
      border-radius: 0 0 calc(var(--reactangle-radius) - 4px) calc(var(--reactangle-radius) - 4px);

      &::placeholder {
        color: var(--main-text-grey);
        font-size: 15px;
      }
    }
  }

  .password-group {
    .input-with-icon {
      position: relative;

      .form-input {
        padding-right: 40px;
      }

      .toggle-eye-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        color: var(--main-text-grey);
      }
    }
  }

  .otp-group {
    .input-with-btn {
      display: flex;
      width: 100%;

    }

    .get-otp {
      margin-top: -9px;
      padding: 12px;
      width: 20%;
      border-radius: 0 calc(var(--reactangle-radius) - 2px) calc(var(--reactangle-radius) - 2px) 0;
      border: none;
      transition: all ease 0.3s;
    }

    .not-showing-otp-age {
      background-color: var(--foreground);
      color: var(--background);

      &:hover {
        cursor: pointer;
        background-color: var(--main-component-grey);
        color: var(--main-text-grey);
      }
    }

    .showing-otp-age {
      background-color: transparent;
      color: var(--foreground);
    }
  }

  &:has(span.input-err-msg) .form-group {
    border-color: var(--main-text-err-red);

    .form-label {
      color: var(--main-text-err-red);
    }
  }

  &:has(.form-input:focus):not(:has(span.input-err-msg)) .form-group {
    border-color: var(--focusing-fieldset-color);

    .form-label {
      color: var(--focusing-fieldset-color);
    }
  }

  .input-err-msg {
    font-size: 14px;
    display: block;
    margin-top: 4px;
    margin-left: 10px;
    color: var(--main-text-err-red);
  }
}

.half-form-left-container {
  width: 47%;
  margin-right: 3%;
}

.half-form-right-container {
  flex: 1;
}

.forgot-password-btn {
  display: block;
  text-align: right;
  background: none;
  border: none;
  color: var(--main-text-grey);
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 25px;
  padding: 0;

  &:hover {
    color: #555;
  }
}

.submit-btn {
  width: 100%;
  margin-top: 5px;
  padding: 15px;
  background: var(--foreground);
  color: var(--background) !important;
  border: 2px solid var(--foreground);
  border-radius: var(--reactangle-radius);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--background);
    color: var(--foreground) !important;
  }
}


.quick-tag {
  display: block;
  height: 18px;
  padding: 0 5px;
  border-radius: 4px;
  margin: 2px;
  font-size: 14px !important;
  color: #fff !important;
  background-color: var(--blue-in-env);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-text-grey);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-text-grey);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

.form-caption {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-self: flex-start;
  align-items: center;
  margin-top: 15px;
  margin-bottom: calc(1.5*15px);

  .caption-icon {
    color: #fff;
    background-color: var(--main-green);
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-right: 15px;
    border-radius: 10px;
  }

  .caption-content {
    font-size: var(--page-name-size);
    color: var(--main-green);
    font-weight: 600;
    flex: 1;
  }

  .desc-content {
    display: block;
    width: 100%;
    font-size: 16px;
    margin-left: 55px;
    color: var(--main-text-grey);
  }
}

/* -------------------Responsive SECTION------------------- */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--foreground) !important;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}