:root {
  --component-padding: 15px;
  --btn-space: 40px;
}

.main-user-task {
  padding: var(--component-padding);
  width: 100%;

  .introduction {
    background-color: var(--background);
    padding: 15px;
    border-radius: 15px;
  }

  .report-list {
    width: 100%;
    margin-top: 25px;

    .report-and-comments {
      width: 100%;
      background-color: var(--background);
      padding: var(--component-padding);
      border-radius: var(--component-padding);
      margin-bottom: 25px;

      .report-header {
        border: 1px solid var(--border-color);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 10px;
        padding: var(--component-padding);
        border-radius: 10px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
        transition: all ease 0.2s;

        &:hover {
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
        }

        .rh-title {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          color: var(--main-green);
          font-size: 25px;
          margin-bottom: 25px;

          .rh-title-icon {
            width: 25px;
            height: 25px;
            background-color: var(--main-green);
            color: #fff;
            padding: 2px;
            border-radius: 5px;
            margin-right: 5px;
          }
        }

        .rh-info {
          width: 25%;
          display: block;
          height: fit-content;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          padding-bottom: 5px;

          .rh-label {
            width: 100%;
            color: #888;
            font-size: 13px;
          }

          .rh-value {
            width: 100%;
            line-break: auto;
            font-size: 14px;
            color: var(--foreground) !important;

            .quick-blue-tag {
              width: fit-content;
              font-size: 12px !important;
              padding: 2px 4px;
            }

            .rh-status-approved {
              background-color: var(--main-green);
            }

            .rh-status-rejected {
              background-color: var(--main-text-err-red);
            }
          }
        }
      }

      .report-header-approved {
        background: linear-gradient(155deg, var(--background) 60%, #72deb8 100%);
      }

      .report-header-rejected {
        background: linear-gradient(155deg, var(--background) 60%, #af5959 100%);
      }

      .report-header-waiting {
        background: linear-gradient(155deg, var(--background) 60%, #7274de 100%);
      }

      .rejected-reason {
        display: block;
        background-color: var(--main-red-bg);
        padding: var(--component-padding);
        border-left: 3px solid var(--main-dark-red);
        margin-bottom: 10px;
        border-radius: 10px;

        .rejected-label {
          color: var(--main-dark-red);
        }

        .rejected-value {
          color: #000;
        }
      }

      .report-info-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        height: 100%;

        .report-content {
          width: 60%;
          margin-right: 10px;

          .desc-textarea {
            width: 100%;
            min-height: 320px;
            border-radius: 10px;
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
            transition: all ease 0.2s;

            &:hover {
              box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
            }
          }

          .reviewed-btn {
            padding: 10px var(--component-padding);
            width: 100%;
            margin-top: 5px;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            .reviewed-icon {
              width: 16px;
              margin-right: 5px;
            }
          }
        }
      }

      .cancel-report-btn,
      .report-btn {
        padding: 10px;
        width: 100%;
        background-color: var(--background);
        transition: all ease 0.2s;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 5px;

        .report-btn-icon {
          width: 16px;
          height: 16px;
          margin-right: 5px;
        }
      }

      .report-btn-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }

      .report-btn {
        color: var(--main-green);
        border: 1px solid var(--main-green);
        flex: 1;

        &:hover {
          background-color: var(--main-hovered-green);
          cursor: pointer;
          color: #fff;
        }
      }

      .cancel-report-btn {
        color: var(--main-text-err-red);
        border: 1px solid var(--main-text-err-red);
        flex: 1;
        margin-right: var(--component-padding);

        &:hover {
          background-color: var(--main-text-err-red);
          cursor: pointer;
          color: #fff;
        }
      }

      .report-btn-disabled {
        background-color: var(--main-component-grey) !important;
        color: #000 !important;
        cursor: not-allowed !important;
      }
    }
  }
}

.comments-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--under-background);
  padding: 10px;
  border-radius: 10px;
  flex: 1;

  .comments-group {
    flex: 1;
    width: 100%;
    max-height: 280px;
    overflow-y: scroll;

    .comment-group {
      width: 100%;

      .comment-frame {
        background-color: var(--background);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 5px;
        width: 100%;

        .comment-header {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .comment-time {
            font-size: 13px;
            color: var(--main-text-grey);
          }
        }

        .comment-content {
          font-size: 14px;
        }


        .rcf-reply-btn-wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          width: 100%;
          padding-top: 5px;
          margin-top: 5px;
          border-top: 1px solid var(--main-component-grey);

          .rcf-reply-btn {
            background-color: transparent;
            padding: 2px 4px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 14px;
            text-decoration: underline;
            color: var(--blue-in-env);
          }
        }
      }

      .sub-comment-group {
        width: 100%;
        border-left: 1px solid var(--border-color);
        padding-left: 10px;
        margin-bottom: 10px;
      }
    }

    .rcf-cancel-btn-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: 100%;

      .rcf-cancel-btn {
        background-color: transparent;
        padding: 2px 4px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 14px;
        text-decoration: underline;
        color: var(--main-text-err-red);
      }
    }
  }

  .reply-comment,
  .create-comment {
    position: relative;
  }

  .create-comment {
    background-color: var(--under-background);
    padding-top: 10px;
    margin-bottom: 0;
  }

  .form-group {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .form-input {
      height: 100%;
      padding-right: var(--btn-space);
    }
  }

  .comment-send-btn {
    position: absolute;
    margin-top: -5px;
    right: calc(var(--btn-space) - 28px - 4px);
    width: 28px;
    height: 28px;
    padding: 4px;
    border-radius: 15px;
    transition: all ease 0.2s;

    &:hover {
      background-color: var(--btn-hovered-background);
      cursor: pointer;
    }
  }
}

.reject-dialog {

  .dialog-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--overlay-color);
    z-index: 3;
  }

  .dialog-container {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    background-color: var(--background);
    width: 400px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .dialog-header {
      line-break: auto;
      padding: 12px 15px;
      background-color: var(--main-text-err-red);
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      margin-bottom: var(--component-padding);

      .dhc-icon {
        margin-right: 10px;
        width: 20px;
      }
    }

    .alert-msg {
      padding: 15px;
      border-bottom: 1px solid var(--main-green);
      max-width: 300px;
    }

    .reject-content {
      box-sizing: border-box;

      .form-group {
        border-radius: 5px;
      }
    }

    .reject-btn-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;

      button {
        padding: 8px 15px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color ease 0.3s;
        font-size: 14px;
        border: 1px solid;
      }

      .submit-content-btn {
        margin-left: 10px;
        border: 2px solid var(--main-green);
        background-color: var(--background);
        color: var(--main-green);
        border-color: var(--main-green);

        &:hover {
          background-color: var(--main-green);
          color: #fff;
        }
      }

      .cancel-content-btn {
        border: 2px solid transparent;
        color: var(--main-text-err-red);
        background-color: var(--background);
        border-color: var(--main-text-err-red);

        &:hover {
          background-color: var(--main-text-err-red);
          color: #fff;
        }
      }
    }
  }

}