.task-list-detail-container {
  min-height: 100vh;
  background: var(--under-background);
  margin: 15px;

  .task-list-detail-content {
    background: var(--background);
    border-radius: 18px;
    padding: 15px;
  }
} 