:root {
  --component-padding: 15px;
}

.pm-create-task {
  padding: var(--component-padding);

  .task-info-form {
    padding: var(--component-padding);
    background-color: var(--background);
    border-radius: var(--component-padding);

    .form-caption {
      display: flex;
      justify-self: flex-start;
      align-items: center;
      margin-top: var(--component-padding);
      margin-bottom: var(--component-padding);

      .caption-icon {
        color: #fff;
        background-color: var(--main-green);
        width: 40px;
        height: 40px;
        padding: 5px;
        margin-right: var(--component-padding);
        border-radius: 10px;
      }

      .caption-content {
        font-size: var(--page-name-size);
        color: var(--main-green);
        font-weight: 600;
      }
    }
    .search-user-container {
      position: relative;
      width: 100%;


      .form-group {
        width: 100%;
        .searched-users-container {
          display: block;
          width: 100%;
          height: auto;
          max-height: 320px;
          overflow-y: auto;
          position: absolute;
          background-color: var(--background);
          top: 100%;
          left: 0;
          margin-top: 5px;
          padding: 10px;
          box-shadow: var(--instruct-box-shadow);
          border: 1px solid var(--focusing-fieldset-color);
          border-radius: 5px;

          .searched-users {
            display: block;
            width: 100%;
            .user-short-info {
              padding: 5px;
              margin-bottom: 5px;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-self: flex-start;
              width: 100%;
              transition: all ease 0.3s;
              border-radius: 10px;
              
              &:hover {
                .usi-ava,
                .usi-full-name,
                .usi-email {
                  color: var(--foreground);
                }
                background-color: var(--btn-hovered-background);
                cursor: pointer;
              }
              .user-short-info-selected {
                .usi-ava,
                .usi-full-name,
                .usi-email {
                  color: var(--foreground);
                }
                background-color: var(--btn-hovered-background);
              }
              .usi-ava,
              .usi-full-name,
              .usi-email,
              .usi-role {
                display: block;
                margin-right: 5px;
              }
              .usi-ava {
                display: block;
                line-height: 25px;
                width: 25px;
                text-align: center;
                border-radius: 15px;
                font-size: 14px;
              }
              .usi-full-name,
              .usi-email {
                word-break: break-word;
                overflow-wrap: break-word;
              }
              .usi-full-name {
                min-width: 20%;
                max-width: 40%;
                width: auto;
                margin-left: 10px;
                color: var(--main-text-grey);
              }
              .usi-email {
                flex: 1;
                color: var(--main-text-grey);
              }
              .usi-role {
                width: 100px;
                font-size: 13px;
                padding: 2px 5px;
                text-align: center;
                border-radius: 10px;
              }
              .uri-role-admin {
                color: var(--role-admin-border);
                background-color: var(--role-admin-bg);
              }
              .uri-role-pm {
                color: var(--role-pm-border);
                background-color: var(--role-pm-bg);
              }
              .uri-role-lead {
                color: var(--role-lead-border);
                background-color: var(--role-lead-bg);
              }
              .uri-role-emp {
                color: var(--role-emp-border);
                background-color: var(--role-emp-bg);
              }
            }
          }
        }
      }
    }
  }
}