:root {
  --component-padding: 15px;
}

.pm-create-task {
  padding: var(--component-padding);

  .task-info-form {
    padding: var(--component-padding);
    background-color: var(--background);
    border-radius: var(--component-padding);

    .form-caption {
      display: flex;
      justify-self: flex-start;
      align-items: center;
      margin-top: var(--component-padding);
      margin-bottom: var(--component-padding);

      .caption-icon {
        color: #fff;
        background-color: var(--main-green);
        width: 40px;
        height: 40px;
        padding: 5px;
        margin-right: var(--component-padding);
        border-radius: 10px;
      }

      .caption-content {
        font-size: var(--page-name-size);
        color: var(--main-green);
        font-weight: 600;
      }
    }
    .search-user-container {
      position: relative;
      width: 100%;


      .form-group {
        width: 100%;
        .searched-users-container {
          display: block;
          width: 100%;
          height: auto;
          max-height: 320px;
          overflow-y: auto;
          position: absolute;
          background-color: var(--background);
          top: 100%;
          left: 0;
          margin-top: 5px;
          padding: 10px;
          box-shadow: var(--instruct-box-shadow);
          border: 1px solid var(--focusing-fieldset-color);
          border-radius: 5px;

          .searched-users {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}