:root {
  --component-padding: 15px;
}

.groups-page {
  background-color: var(--background);
  margin: var(--component-padding);
  border-radius: var(--component-padding);

  .groups-page-header {
    margin: var(--component-padding);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .form-caption,
    .create-group-wrapper {
      width: auto;
    }

    .create-group-wrapper {
      .cgw-btn {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-self: center;
        color: #fff;
        background-color: var(--main-green);
        padding: 10px var(--component-padding);
        border-radius: 10px;
        transition: all ease 0.2s;

        &:hover {
          background-color: var(--main-hovered-green);
          cursor: pointer;
        }

        .cgw-btn-icon {
          margin-right: 5px;
          width: 18px;
        }
      }
    }
  }

  .groups-container {
    padding: var(--component-padding);
    border-radius: var(--component-padding);

    .groups-search {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-self: flex-start;
      width: 100%;

      .gs-inp {
        flex: 1;
        padding: 12px var(--component-padding);
        background-color: var(--background);
        border: 2px solid var(--main-component-grey);
        border-radius: 10px;
        outline: none;
        margin-right: var(--component-padding);

        &::placeholder {
          color: var(--main-text-grey);
          font-size: 15px;
        }

        &:focus {
          border-color: var(--focusing-fieldset-color);
        }
      }

      .gs-submit-btn {
        background-color: var(--main-green);
        color: #fff;
        padding: 10px 15px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-self: center;

        &:hover {
          background-color: var(--main-hovered-green);
          cursor: pointer;
        }

        .gs-btn-icon {
          width: 18px;
        }
      }
    }

    .group-blocks-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;

      .group-block {
        width: 30%;
        border: 1px solid var(--main-component-grey);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 6px 2px rgba(70, 70, 70, 0.1);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        margin: var(--component-padding);

        &:hover {
          transform: translateY(-2px) scale(1.02);
          cursor: pointer;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }

        .group-header {
          margin-bottom: var(--component-padding);

          .group-name {
            font-size: 20px;
            display: inline-block;
          }

          .group-status {
            display: block;
            float: right;

            .group-active-true {
              color: var(--main-green) !important;
              background-color: #a9f8d4;
            }

            .group-active-false {
              color: var(--role-admin-bg) !important;
              background-color: #f0c5c5;
            }
          }
        }

        .group-info {

          .gi-quantity,
          .gi-created-at {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            line-break: auto;
            margin-bottom: 10px;
          }

          .gi-icon {
            margin-right: 5px;
            width: 16px;
          }

          .gi-quantity {
            font-size: 14px;
            color: var(--main-text-grey)
          }

          .gi-created-at {
            font-size: 14px;
            color: var(--main-component-grey);
          }
        }
      }

      .pagination {
        width: 100%;
        padding-top: var(--component-padding);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

