
.assigned-users {
  background-color: var(--under-background);

  .user-short-info {
    background-color: var(--background);
    border: 1px solid var(--background);

    &:hover {
      background-color: var(--btn-hovered-background);
    }
  }
}

.analyst-quantities {
  padding: 15px;
  background-color: var(--background);
  margin-bottom: 5px;
  border-radius: 10px;

  .small-caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    .sc-icon {
      color: #fff;
      background-color: var(--main-green);
      width: 25px;
      height: 25px;
      padding: 3px;
      margin-right: 15px;
      border-radius: 5px;
    }

    .sc-title {
      font-size: 20px;
      font-weight: 600;
      color: var(--main-green);
      max-width: 90%;
      line-break: auto;
      flex: 1;
    }

    .sc-desc {
      display: block;
      font-size: 16px;
      color: var(--main-text-grey);
      max-width: 100%;
      line-break: auto;
      width: 100%;
      padding-left: 40px;
      margin-top: 5px;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid var(--main-component-grey);
    }
  }

  .quantities {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;

    .quantity-block {
      min-width: 200px;
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .analyst-number {
        font-size: 35px;
        display: block;
      }

      .analyst-category {
        font-size: 16px;
      }
    }

    .total-users>* {
      color: var(--main-green);
    }

    .total-completed>* {
      color: var(--blue-in-env);
    }

    .total-in-progress>* {
      color: var(--foreground);
    }

    .total-kicked-out>* {
      color: var(--main-text-err-red);
    }
  }
}