
.task-status-container {
  padding: 15px;
  background-color: var(--background);
  margin-top: 25px;
  border-radius: 10px;

  .small-caption {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    .sc-icon {
      color: #fff;
      background-color: var(--main-green);
      width: 25px;
      height: 25px;
      padding: 3px;
      margin-right: 15px;
      border-radius: 5px;
    }

    .sc-title {
      font-size: 20px;
      font-weight: 600;
      color: var(--main-green);
      max-width: 90%;
      line-break: auto;
      flex: 1;
    }

    .sc-desc {
      display: block;
      font-size: 16px;
      color: var(--main-text-grey);
      max-width: 100%;
      line-break: auto;
      width: 100%;
      padding-left: 40px;
      margin-top: 5px;
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid var(--main-component-grey);
    }
  }

  .task-status-buttons {
    .completed-task,
    .complete-task-button,
    .lock-task-button,
    .delete-task-button {
      width: 100%;
      padding: 15px;
      border-radius: 10px;
      transition: background-color ease 0.3s;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      .tsb-icon {
        margin-right: 10px;
        width: 16px;
        height: 16px;
      }
    }
  }

  .completed-task {
    cursor: not-allowed;
    background-color: var(--main-component-grey);
    color: #000;
  }

  .complete-task-button {
    background-color: var(--main-green);
    color: #fff;

    &:hover {
      background-color: var(--main-hovered-green);
      cursor: pointer;
    }
  }

  .delete-task-button,
  .task-locked-btn {
    background-color: var(--main-text-err-red);
    color: #fff;

    &:hover {
      background-color: var(--red-btn-hovered-bg);
      cursor: pointer;
    }
  }

  .task-unlocked-btn {
    background-color: var(--blue-in-env);
    color: #fff;

    &:hover {
      background-color: var(--role-pm-bg);
      cursor: pointer;
    }
  }
}