:root {
  --component-padding: 15px;
}

.text-dialog {
  .dialog-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--overlay-color);
    z-index: 3;
    width: 100%;
  }

  .dialog-container {
    position: absolute;
    border-radius: var(--component-padding);
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    background-color: var(--background);
    width: 60%;
    padding: calc(1.5*var(--component-padding));
    min-height: 500px;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .dialog-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-self: flex-start;
      width: 100%;
      margin-bottom: var(--component-padding);

      .dialog-header-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-self: flex-start;
        flex: 1;

        .dhc-icon {
          color: #fff;
          background-color: var(--main-green);
          width: 25px;
          height: 25px;
          padding: 3px;
          margin-right: 15px;
          border-radius: 5px;
        }

        .dhc-title {
          font-size: 20px;
          font-weight: 600;
          color: var(--main-green);
          max-width: 90%;
          line-break: auto;
        }
      }

      .close-dialog-btn {
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 25px;
        background-color: transparent;
        transition: all ease 0.2s;

        &:hover {
          cursor: pointer;
          color: #000;
          background-color: var(--btn-hovered-background);
        }
      }
    }

    .update-btn-container {
      width: 100%;
      margin-top: 10px;

      .update-content-btn {
        width: 100%;
        padding: 15px 0;
        border-radius: 10px;
        color: #fff;
        background-color: var(--main-green);
        transition: background-color ease 0.3s;
        cursor: pointer;

        &:hover {
          background-color: var(--main-hovered-green);
        }
      }
    }
    
    
    .desc-textarea {
      height: 360px;
    }

  }

}