
.statistic-review {
  padding: 25px;
  border-radius: 15px;
  background-color: var(--background);

  .filter-container {
    display: flex;
    flex-wrap: wrap;
  }

  .caption-content {
    flex: 0;
  }

  .dc-desc-wrapper {
    margin-left: 5px;
    width: 25px;
    height: 25px;
  }
}

.top-user {
  background-color: #ffd38d;

  &:hover {
    background-color: #ffbc50;
  }
}