
.desc-textarea {
  width: 100%;
  overflow-y: auto;
  color: var(--foreground) !important;
  border: 2px solid var(--main-component-grey);
  border-radius: 5px;
  padding: 5px;
  background-color: var(--background);
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--main-component-grey);

  &::placeholder {
    font-style: italic;
  }
}