.dc-desc-wrapper {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
  position: relative;
  z-index: 2;

  .dc-help-icon {
    width: 16px;
    height: 16px;
    margin-left: 2px;
  }

  .dc-help-container {
    position: absolute;
    display: none;
    top: 100%;
    width: auto;
    white-space: nowrap;
    padding: 5px 10px;
    background-color: var(--background);
    box-shadow: var(--instruct-box-shadow);
    color: var(--main-text-grey);
  }

  .dc-help-icon:hover+.dc-help-container {
    display: block;
    z-index: 100;
  }
}